<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Signin Template · Bootstrap v5.0</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <!-- Fontawesome 6.4 -->
    <link rel="stylesheet" href="~/css/sign.css">
    <!-- Style -->
</head>
<body>
    <main class="container">
        @RenderBody()
    </main>
</body>
</html>